* {
    padding: 0%;
    margin: 0%;
    --fonte: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

p {
    text-indent: 3rem;
    text-align: justify;
    text-justify: inter-word;
    font-family: var(--fonte);
    font-weight: 400;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Titulo-Logo{
    background-image: url("../Image/Logo ToInformatizado.png");
    width: 100%;
    height: 96px;
    background-size: 485px 96px;
    background-repeat: no-repeat;
    background-position: center;
}

._container {
    width: 1100px;
    height: 100%;
    padding: 2em 3em 2em 3em;
    background-color: aqua;
}

h2 {
    padding: 0.5em;
    font-family: var(--fonte);
    font-weight: 700;
}

.container_TiposComputadores {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.container_TiposComputadores>img{
    height: 300px;
    height: 300px;
    order: 1;
}

.container_TextImagem{
    font-family: var(--fonte);
    font-weight: 700;
    order: 2;
}

.container_TextImagem>p{
    text-indent: 0px;
}

@media (max-width:1100px) {
    
    ._container {
        padding: 1em 2em 1em 2em;
    }

    .container_TiposComputadores {
        display: flex;
        gap: 1em;
        align-items: center;
        margin: 1em;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }

    .container_TextImagem{
        text-align: center;
    }

    .Titulo-Logo{
        background-image: url("../Image/Logo ToInformatizado.png");
        width: 100%;
        height: 96px;
        background-size: 340px 67px;
        background-repeat: no-repeat;
        background-position: center;
    }

}
