@charset "UTF-8";

@font-face {
    font-family:'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: rgb(132, 225, 173);
    --cor2: rgb(47, 168, 102);
    --cor3: rgb(0, 83, 0);
    --font-padrao: Arial, Helvetica, sans-serif;
    --font0-secundaria: 'Android' , sans-serif;
}

* {
  padding: 0px;
  margin: 0px;  
}

body {
    background-color: var(--cor1);
    font-family: var(--font-padrao);
}

main {
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 20px 20px ;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.39);
    margin-bottom: 20px;
}

p > em {
    color: var(--cor1); 
}

header {
    background-image: linear-gradient(to bottom, rgb(64, 220, 134) , rgb(26, 92, 56));
    color: white;
    display: block;
    margin: 0px;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}

.Header-Titulo{
    text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.425);
    text-align: center; 
    padding: 40px;
}

.Header-Titulo > p {
    padding-top: 30px;
    margin: 0px;
}

nav {
    padding-left: 20px;
    padding-bottom: 20px;
}

nav > a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
    transition-duration: 0.5s;
}

main h1, h2 {
    font-family: var(--font0-secundaria);
    text-transform: uppercase;
    color: var(--cor3);
    text-indent: 20px;
}

main h2 {
    background-image: linear-gradient(to right , var(--cor1) , rgb(255, 255, 255));
}

main img {
    margin: auto;
    width: 100%;
}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

.box-video {
    display: flex;
    margin: 20px -20px 20px -20px;
    justify-content: center;
    background-color: var(--cor3);
    padding: 20px;
}

main p {
    text-indent: 20px;
    padding: 1em;
}

main p > a{
    font-weight: bold;
    text-decoration: none;
}

main p > a::after {
    content: '📎';
}

main strong ,a {
    color: var(--cor3);
} 

li > abbr {
    text-decoration: underline;
    font-weight: normal;
    color: black;
}

li {
    list-style: none;
}

li::before{
    content: '✓';
    padding-right: 10px;
}

aside {
    margin-top: 1em;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.226);
}

.box-header {
    background-color: var(--cor2);
    padding: 15px;  
    border-radius: 10px 10px 0px 0px;
    color: white;
}

.box-body {
    background-color: var(--cor1);
    padding: 15px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 20px;
}

footer {
    padding: 5px;
    background-color: var(--cor3);
    text-align: center;
}

footer > p {
    color: white;
}
